
.buttonContainer {
    padding: 0 32px 0 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('src/assets/images/header_menu.png');
    background-position: center;
    background-repeat: no-repeat;
    background-color: transparent;
    background-size: cover;

    img {
        width: 3rem;
    }

    span {

    }
}