
.buttonContainer {
    height: 3rem;
    padding: 0 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('src/assets/images/but1.png');
    background-position: center;
    background-repeat: no-repeat;
    background-color: transparent;
    background-size: cover;
}